body {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 75px);
  font-family: "Titillium Web", sans-serif;
  background-color: #fcfcfc;
}

header {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row: 1;
  background-color: rgb(87, 86, 86);
  padding: 6px;
  margin-right: 6px;
}

header .gbc {
  width: 100px;
}

div .dropdown {
  width: 30px;
}

button {
  background-color: #fbb034;
  border-radius: 20%;
}

.dropButton {
  margin-top: 10px;
  margin-left: 1em;
}

h1 {
  font-size: 18px;
  margin-left: 1em;
}

select {
  width: 100px;
  height: 46px;
  padding: 1em;
  margin: 0.5em;
  border-radius: 7%;
  font-family: "Titillium Web", sans-serif;
}

input {
  width: 100px;
  height: 40px;
  margin: 0.5em;
  border-radius: 7%;
}

.lowV {
  background-color: rgb(80, 128, 80);
}
.medV {
  background-color: rgb(238, 238, 96);
}
.hiV {
  background-color: tomato;
}
/*--------ROWS/CONTENT-------------------*/

.titles {
  display: grid;
  grid-template-columns: repeat(8, 130px);
  grid-row: 2;
  margin-left: 135px;
}

.row {
  display: grid;
  grid-template-columns: repeat(9, 130px);
  grid-row: 3;
  margin-left: 0.5em;
  margin-top: 1em;
  box-shadow: 0 0 0.5em black;
  border-radius: 5px;
}

/* -------------------- DROPDOWN MENU---------------------*/

.dropTitles {
  display: grid;
  grid-template-columns: repeat(10, 130px);
  grid-row: 2;
  margin-left: 0.5em;
}
