body {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 75px);
  font-style: ;
}

header {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-row: 1;
}

img {
  width: 100px;
}

h1 {
  font-size: 18px;
  margin-left: 1em;
}

select {
  width: 100px;
  height: 46px;
  padding: 1em;
  margin: 0.5em;
}

input {
  width: 100px;
  height: 40px;
  margin: 0.5em;
}

.titles {
  display: grid;
  grid-template-columns: repeat(10, 125px);
  grid-row: 2;
}

.row1 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-row: 3;
  margin-left: 0.5em;
}

.row2 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-row: 4;
  margin-left: 0.5em;
}

.row3 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-row: 5;
  margin-left: 0.5em;
  background-color: ;
}
